img {
    position: absolute;
    left: 42%;
    top: 24%;
}
#searchbar {
    position: absolute;
    left: 35.5%;
    top: 38%;
    width: 500px;
    height: 35px;
    border-radius: 30px;
}
.search-div {
    position: absolute;
    left: 42%;
    top: 45%; 
}
.search-button {
    color: black;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    height: 40px;
}
.search-button:hover {
    border: 1px solid black;
}
.right {
    float: right;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li a {
    display: inline-block;
    padding: 8px;
    color: black;
    text-decoration: none;
}
#navbot {
    position: relative;
    top: 850px;
}
#navmid {
    position: relative;
    top: 830px;
    
}