img {
    position: absolute;
    left: 42%;
    top: 24%;
}
#searchbar {
    position: absolute;
    left: 35.5%;
    top: 38%;
    width: 500px;
}
.search-div {
    position: absolute;
    left: 42%;
    top: 45%; 
}
.search-button {
    color: black;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    height: 40px;
}
.search-button:hover {
    border: 1px solid black;
}
.left {
    float: left;
}
li {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  li a {
    display: block;
    padding: 8px;
  }